In [149]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [150]:
import pandas
import numpy as np
import importlib

from classifiers.RandomClassifier import RandomClassifier 
from classifiers.DecisionTreeClassifier import DecisionTreeClassifier
from StatisticManager import StatisticManager

Read and show the head of the training data set

In [151]:
X_train=pandas.read_excel('../data/Dataset1_train/X_train.xlsx')
y_train=pandas.read_excel('../data/Dataset1_train/y_train.xlsx')
X_train.info()
X_train.head()
# y_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1023 entries, 0 to 1022
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         958 non-null    float64
 1   volatile_acidity      979 non-null    float64
 2   citric_acid           963 non-null    float64
 3   residual_sugar        984 non-null    float64
 4   chlorides             971 non-null    float64
 5   free_sulfur_dioxide   966 non-null    float64
 6   total_sulfur_dioxide  978 non-null    float64
 7   density               977 non-null    float64
 8   pH                    965 non-null    float64
 9   sulphates             972 non-null    float64
 10  alcohol               965 non-null    float64
dtypes: float64(11)
memory usage: 88.0 KB

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.0,0.23,0.40,1.6,0.063,NaN,67.0,0.99520,3.50,0.63,11.1
1,7.8,0.60,0.26,2.0,0.080,31.0,131.0,0.99622,NaN,0.52,9.9
2,9.7,0.69,0.32,2.5,0.088,22.0,91.0,0.99790,3.29,0.62,10.1
3,12.0,0.38,0.56,2.1,0.093,6.0,24.0,0.99925,3.14,0.71,10.9
4,6.4,0.64,0.21,1.8,0.081,14.0,31.0,0.99689,3.59,0.66,NaN

- Fill all missing values with the median of that descriptive feature
- Profile the descriptive features of the training dataset

In [152]:
X_train.fillna(X_train.median(),inplace=True)

# from pandas_profiling import ProfileReport

# ProfileReport(X_train,title="X_train profiling")
# ProfileReport(y_train,title="y_train profiling")

Print the percentage of each classes

In [153]:
y_train["class_cat"]=y_train["class"].astype("category")
y_train.drop(["class"],axis=1,inplace=True)
y_train["class_cat"].value_counts(normalize=True)*100

5    41.739980
6    40.762463
7    12.121212
4     3.225806
8     1.368524
3     0.782014
Name: class_cat, dtype: float64

In [163]:
cls=DecisionTreeClassifier(depth=3)
# cls.fit(X_train[:10],y_train[:10])

# cls.fit(X_train,y_train)
# y_pred=cls.predict(X_train)
# print(y_pred)

In [155]:
# cls=RandomClassifier(random_state=72510)

# cls.fit(X_train,y_train)

# y_pred=cls.predict(X_train)

# print(type(X_train),y_pred.shape)

In [164]:

statistic=StatisticManager()
statistic.crossValidate(cls,X_train,y_train,cv=1)
# print(y_train)
# statistic.evaluate(y_train['class_cat'],y_pred)

0: ('alcohol', 10.525),0.1651716686402266,(459, 12),(257, 12)

/home/llt/ML/src/classifiers/DecisionNode.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1: ('volatile_acidity', 0.5874999999999999),0.06119132883947931,(274, 12),(185, 12)
3: ('sulphates', 0.655),0.06997318887908,(172, 12),(102, 12)
7: ('citric_acid', 0.565),0.06164091831455264,(166, 12),(6, 12)
15: ('sulphates', 0.475),0.04891202031503372,(17, 12),(149, 12)
31: ('total_sulfur_dioxide', 88.5),0.3227569588973982,(16, 12),(1, 12)
63: Leaf node
64: Leaf node
32: ('total_sulfur_dioxide', 64.0),0.06799367988958738,(104, 12),(45, 12)
Low IG id=65
66: ('residual_sugar', 1.85),0.10496715991309302,(6, 12),(39, 12)
133: ('residual_sugar', 1.65),0.9182958340544896,(2, 12),(4, 12)
267: Leaf node
268: Leaf node
134: ('pH', 3.435),0.15745576932627942,(35, 12),(4, 12)
269: ('volatile_acidity', 0.575),0.15986332030685774,(32, 12),(3, 12)
539: ('sulphates', 0.635),0.11453208987010625,(29, 12),(3, 12)
1079: Leaf node
Low IG id=540
270: ('total_sulfur_dioxide', 87.5),0.8112781244591328,(3, 12),(1, 12)
541: Leaf node
542: Leaf node
16: ('residual_sugar', 2.25),0.9999999999999998,(3, 12),(3, 12)
34: Leaf node
33: ('residual_sugar', 2.05),0.9182958340544894,(1, 12),(2, 12)
67: Leaf node